<div>
  <label>Partition Key Namespace</label>
  <div>
    <input type="text" [(ngModel)]="model.globalNamespace" />
  </div>
</div>
<div>
  <label>Sort Key Namespace</label>
  <div>
    <input type="text" [(ngModel)]="model.domainNamespace" />
  </div>
</div>
<button (click)="generateEntity()">Submit</button>

<div *ngIf="formSubmitted">
  <table border="1" cellpadding="10">
    <tr>
      <th>Partition Key</th>
      <th>Sort Key</th>
    </tr>
    <tr>
      <td>{{ pk }}</td>
      <td>{{ sk }}</td>
    </tr>
  </table>

  <pre>
    <code>
      {{ cSharpModel }}
    </code>
  </pre>
</div>
